body {
    background-color: rgb(238, 238, 238);
    max-width: 65em;
    margin: 0 auto;
}

.site-header {
    margin-top: 5em;
    border-bottom: 2px solid black;    
}

.first-pic {
    float: right;
    margin-left: 1.0em;
}

.second-pic {
    float: left;
    margin: 0.5;
    margin-right: 1.0em;
}

.quote {
    width: 50%;
    float: right;
}