body {
    max-width: 85em;
    margin: 0 auto;
}

.site-header {
    margin-top: 2em;
    border-bottom: 2px solid gray;
}

.site-branding {
    display: inline-block;
    width: 20%;
}


