@import url("reset.css");
@import url("typography.css");

body {
    max-width: 90%;
    margin: 0 auto;
}

.site {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
}

.site-header {
    display: flex;
    flex: 1 1 auto;
    padding-bottom: 1.0em;
    border-bottom: 2px solid #333;
}

.site-header h1 {
    flex-basis: 70%;
    font-size: 2.6em;
    font-weight: bold;
}

.site-header ul {
    display: flex;
    padding-top: 1.5rem;
}

.site-header li {
    list-style: none;
}

.site-header nav a{
    padding: 1em;
    color: rgb(0, 153, 0);
    text-decoration: none;
}

.site-main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.7em;
}