p.container {
    margin: 2em;
}

a.button {
    padding: 0.5em;
    margin-top: 2em;
    border-radius: 0.2em;
    text-decoration: none;
}

a.clickButton {
    border: 1px solid green;
    background-color: green;
    color: white;
}

a.emailButton {
    border: 1px solid orange;
    background-color: orange;
    color: white;
}