@import url('reset.css');
@import url('typography.css');

body {
    max-width: 90em;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    margin: 0 auto;
}

.item {
    flex: 0 1 15em;
    height: auto;
    margin: 7em 0;
}
